<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805143583952-8uegr7su0d08spq7mbsa6lqj9q7etqvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805143583952-8uegr7su0d08spq7mbsa6lqj9q7etqvd</string>
	<key>API_KEY</key>
	<string>AIzaSyDE-UMyOJ1JdHwFMh8BLKZ4R-AGIxoHMww</string>
	<key>GCM_SENDER_ID</key>
	<string>805143583952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Niroj.SydneySporMeet</string>
	<key>PROJECT_ID</key>
	<string>sydneyspormeet</string>
	<key>STORAGE_BUCKET</key>
	<string>sydneyspormeet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805143583952:ios:3218b82a2c2bc14e</string>
	<key>DATABASE_URL</key>
	<string>https://sydneyspormeet.firebaseio.com</string>
</dict>
</plist>